/*
Add slightly more space between divs and add a centering affect (margin: auto)
*/
div {
  float: left;
  margin-top: 3px;
  width: 300px;
  margin-right: auto;
  margin-left: auto;
}

hr {
  clear:both;
  }
/*
Set the outer div (main) to a width of 80% and add a centering affect (margin: auto)
*/
.main {
  width: 80%;
  margin: auto;
}

/*
Set all labels to the same size and float left

*/
.label {
  width: 125px;
  float: left;
  font-family: arial;
}

.select-style {
    border: 1px solid #ccc;
    width: 185px;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==") no-repeat 90% 50%;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}

legend {
  font-family: arial;
  font-size: 20px;
  font-weight: 800;
}

p {
    float: left;
    margin: 0.5em;
    font-family: arial;
    border: 1px solid #000;
    width: 20em;
    border-radius: 5px;
    overflow: hidden;
}
