/*
Add slightly more space between divs and add a centering affect (margin: auto)
*/
div {
  margin-top: 3px;
  width: 600px;
  margin-right: auto;
  margin-left: auto;
}

/*
Set the outer div (main) to a width of 80% and add a centering affect (margin: auto)
*/
.main {
  width: 80%;
  margin: auto;
}

/*
Set all labels to the same size and float left
*/
.label {
  width: 125px;
  float: left;
}

/*
Required elements have a red *
*/
span {
  color: #DF0101;
}

legend {
  font-size: 20px;
  font-weight: 800;
}
